@font-face{
    font-family: "Font";
    src: local('../assets/fonts/tw.TTF'),
    url('../assets/fonts/tw.TTF') format('truetype');
    font-weigth: normal;
    font-style: normal;
}
* { font-family: "Font" !important; font-size: 20px; }
body { 
    margin: 0px;
    padding: 0px; 
    padding-bottom:50px; 
    background-color: #AECFE8;
}

/* Tags  */
th, tr, td { border: 1px solid white; height: 30px; }

/* Classes genéricas */
.fl { float: left; }
.fr { float: right; }
.cls { clear: both; }

/* CaixaDados */
.abraca {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.caixaDados {
    display: inline-grid;
    justify-content: center;
    margin: auto;
    width: 200px;
    height: 150px;
}
.txtInd2 {
    margin-top: 10px;
}
.btnGerar {
    margin-top: 10px;
}

/* areaInfo */
.areaInfo {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}
.caixaInfo {
    display: none;
    width: 200px;
    margin: auto;
    border:  1px solid white;
}
#hind1 {
    color: white;
}
#hind2 {
    color: white;
}
/* Tabelona  */
.areaTabela {
    width: 100%;
}
#tabelona {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}
#tabelona th {
  background-color: #04AA6D;
  color: white;
}
#tabelona td {
  background-color: #CFCFCF;
}



